<div class="main">
    <div class="main_div">
        <div class="main_left">
            <app-categories></app-categories>
        </div>
        <div class="main-right">
            <div class="top">
                <app-reserve-doctor></app-reserve-doctor>
            </div>
            <div    class="bottom">
                <div class="cal">
                    <app-reserve-calendar></app-reserve-calendar>
                </div>
                <div class="buttons">
                    <button class="b1">რედაქტირება</button>
                    <button class="b2">წაშლა</button>
                </div>
            </div>
        </div>
    </div>
    
</div>