<div class="footer">
    <div class="footer_div">
        <div class="footer_div_left" routerLink="/home">
            <img src="../../assets/logo 2.png" alt="">
            <p>კლინიკა</p>
        </div>
        <div class="footer_div_right">
            <hr>
            <div class="footer_div_right_about">
                <h5>ინფორმაცია</h5>
                <div class="title">
                    <a>ჩვენ შესახებ</a>
                    <a>პარტნიორები</a>
                    <a>ექიმებისთვის</a>
                    <a>კლინიკებისთვის</a>
                    <a>აფთიაქებისთვის</a>
                </div>
            </div>
            <div class="footer_div_right_about">
                <h5>პაციენტებისთვის</h5>
                <div class="title">
                    <a>ექიმები</a>
                    <a>კლინიკები</a>
                    <a>ანოტაციები</a>
                    <a>ბლოგი</a>
                    <a>მედია</a>
                </div>
            </div>
            <div class="footer_div_right_about">
                <h5>კონტაქტი</h5>
                <div class="title">
                    <a>სამუშაო დღეები : 
                        ორშ - პარ</a>
                    <a>სამუშაო დრო : 
                        9:00 - 17:00</a>
                    <a>იაკობ ნიკოლაძე №10</a>
                    <a>032 2 100 100</a>
                </div>
            </div>
            <div class="footer_div_right_about">
                <h5>გამოგვყევით</h5>
                <div class="title">
                    <a>Facebook</a>
                    <a>Instagram</a>
                    <a>Youtube</a>
                </div>
            </div>
        </div>
    </div>
</div>
