<app-header></app-header>
<app-bottom-header></app-bottom-header>
<div class="wrapper">
    <div class="div-1">
      <div class="container">
        <div>
          <img class="line-1" src="../../assets/Rectangle 87.png" alt="">
          <img class="line-2" src="../../assets/Rectangle 87.png" alt="">
          <img class="line-3" src="../../assets/Rectangle 87.png" alt="">
        </div>
        <p>რეგისტრაცია</p>
        <p>კატეგორიები</p>
        <p id="doctors">ექიმები</p>
      </div>
      <button id="doctor">ექიმი</button>
      <button>მომხმარებელი</button>
      <button>ადმინისტრატორი</button>
    </div>
    <div class="doctor-info">
      <div class="sect-1">
        <img src="../../assets/Ellipse 5.png" alt="">
        <h4>გიორგი ხორავა</h4>
        <p id="doctor">ექიმი</p>
        <p class="second-p">კარდიოლოგი / არითმოლოგი</p>
        <div>
          <img class="star" src="../../assets/Vector (7).png" alt="star">
          <img class="star" src="../../assets/Vector (7).png" alt="star">
          <img class="star" src="../../assets/Vector (7).png" alt="star">
          <img class="star" src="../../assets/Vector (7).png" alt="star">
          <img class="star" src="../../assets/Vector (7).png" alt="star">
        </div>
      </div>
      <div class="sect-2">
        <p><img class="edit-img" src="../../assets/WhatsApp Image 2023-04-28 at 11.04.32 AM (3).jpeg" alt="edit"/><span>პირადი ნომერი :</span></p>
        <p class="second-p">00000000000</p>
        <p><img class="edit-img" src="../../assets/WhatsApp Image 2023-04-28 at 11.04.32 AM (3).jpeg" alt="edit"/><span>Email :</span></p>
        <p class="second-p">clinic@gmail.com</p>
        <p><img class="edit-img" src="../../assets/WhatsApp Image 2023-04-28 at 11.04.32 AM (3).jpeg" alt="edit"/><span>პაროლის შეცვლა</span></p>
      </div>
      <div class="sect-3">
        <p><img class="edit-img" src="../../assets/WhatsApp Image 2023-04-28 at 11.04.32 AM (3).jpeg" alt="edit"/><span>დაჯავშნილია :</span></p>
        <p class="second-p">( 20 )</p>
      </div>
    </div>
    <div class="buttons">
      <button class="add">+ დამატება</button>
      <button class="edit"><img src="../../assets/WhatsApp Image 2023-04-28 at 11.04.32 AM (3).jpeg"/>რედაქტირება</button>
      <button class="delete"><img src="../../../assets/delete.png"/>წაშლა</button>
    </div>
    <app-reserve-calendar class="scheduler"></app-reserve-calendar>
  </div>
<app-footer></app-footer>