<div class="bottom_header">
    <div class="bottom_header_div">
        <div class="bottom_header_contact">
            <div class="contact_number">
                <div class="phone_logo">
                    <img class="ellipse" src="../../assets/Ellipse 9.png" alt="">
                    <img class="phone" src="../../assets/vector (Stroke).png" alt="">
                </div>
                <p>032 2 100 100</p>
            </div>
            <div class="contact_adress"> 
                <div class="adress_logo">
                    <img src="../../assets/Ellipse 9.png" alt="">
                    <img  src="../../assets/Vector.png" alt="">
                    <img class="dot" src="../../assets/Vector (1).png" alt="">
                </div>
                <p>იაკობ ნიკოლაძე №10</p>
            </div>
        </div>
        <div class="bottom_header_search">
            <input type="text" placeholder="მოძებნე ექიმი სახელით">
            <input type="text" placeholder="მოძებნე სპეციალობით">
            <button>
                
                <img src="../../assets/Vector (2).png" alt="">
            </button>
        </div>
    </div> 
</div>
