<main>
    <h3 class="title">რეგისტრაცია</h3>
    <form action="">
        <div>
            <p>სახელი</p>
            <input type="text" placeholder="( მინიმუმ 5 სიმბოლო )">
        </div>
        <div>
            <p>Email</p>
            <div class="email_input">
                <input type="email">
                <img src="../../../assets/Vector (6).png" alt="">
            </div>
            
        </div>
        <div>
            <p>პირადი ნომერი</p>
            <input type="number" placeholder="00000000000">
        </div>
        <div>
            <p>გვარი</p>
            <input type="text">
        </div>
        <div>
            <p>პაროლი</p>
            <input type="password" placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )">
        </div>
        <div>
            <p>კატეგორია</p>
            <input type="text" placeholder="ანესთეზიოლოგი / თერაპევტი ან სხვა...">
        </div>
        <div>
            <p>ფოტოსურათი</p>
            <input type="text" >
        </div>
        <div>
            <p>CV</p>
            <input type="text">
        </div>
    </form>
    <button class="reg">რეგისტრაცია</button>
</main>
