<div class="main_adress">
    <div class="main_adress_div">
        <div class="main_adress_left">
            <h1>აირჩიე კლინიკა რომელსაც შეგიძლია ენდო</h1>
                <div class="adress">
                    <div class="adress_logo">
                        <img src="../../../assets/Ellipse 9.png" alt="">
                        <img  src="../../../assets/Vector.png" alt="">
                        <img class="dot" src="../../../assets/Vector (1).png" alt="">
                    </div>
                    <p>იაკობ ნიკოლაძე №10</p>
                </div>
        </div>
        <img class="main_adress_img" src="../../../assets/Rectangle 30.png" alt="">
    </div>
</div>
