<main>
    
    <div class="title">
        <button class="doctor_reg_button" routerLink="/doctor_registration" >ექიმის რეგისტრაცია</button>
        <h3>რეგისტრაცია</h3>
    </div>
    <form action="">
        <div>
            <p>სახელი</p>
            <input type="text" placeholder="( მინიმუმ 5 სიმბოლო )">
        </div>
        <div>
            <p>Email</p>
            <div class="email_input">
                <input type="email">
                <img src="../../../assets/Vector (6).png" alt="">
            </div>
            
        </div>
        <div>
            <p>პირადი ნომერი</p>
            <input type="number" placeholder="00000000000">
        </div>
        <div>
            <p>გვარი</p>
            <input type="text">
        </div>
        <div>
            <p>აქტივაციის კოდი</p>
            <input type="text">
        </div>
        <div>
            <p>პაროლი</p>
            <input type="password" placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )">
        </div>
    </form>
    <button class="reg">რეგისტრაცია</button>
</main>
